@model app01.Models.EmployeeModel

<div class="modal fade" id="addEmployee" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <form asp-action="Delete">  
            <div class="modal-header">
                <h4 class="modal-title" id="addEmployeeLabel">Delete Employee</h4>
                <button type="button" class="close" data-bs-dismiss ="modal"  aria-label="Close">
                    <span>X</span>
                </button>
            </div>
            
            <div class="modal-body">
                
            <h5>Are you sure you want to delete these Records</h5>

            <span style="color: orange">This action cannot be undone</span>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger" data-save="modal">Delete</button>

            </div>
          </form>
        </div>
    </div>
</div>